<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="flex flex-col justify-between">
    

    <div class="bg-white rounded-xl shadow-sm border border-gray-200 p-4 sm:p-6">

<ul class="bar_chart list-unstyled artist font-light">

    
  <li>
    <span class="name">
      <span class="rank">1</span> <a title="The Lemon Twigs" href="https://www.last.fm/music/The+Lemon+Twigs">The Lemon Twigs</a>
    </span>
    <span class="count">386</span>
    <span class="index" style="width:100%">(100)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">2</span> <a title="R.E.M." href="https://www.last.fm/music/R.E.M.">R.E.M.</a>
    </span>
    <span class="count">168</span>
    <span class="index" style="width:43%">(43)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">3</span> <a title="Van Halen" href="https://www.last.fm/music/Van+Halen">Van Halen</a>
    </span>
    <span class="count">152</span>
    <span class="index" style="width:39%">(39)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">4</span> <a title="Castor" href="https://www.last.fm/music/Castor">Castor</a>
    </span>
    <span class="count">119</span>
    <span class="index" style="width:30%">(30)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">5</span> <a title="American Darlings" href="https://www.last.fm/music/American+Darlings">American Darlings</a>
    </span>
    <span class="count">103</span>
    <span class="index" style="width:26%">(26)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">6</span> <a title="MJ Lenderman" href="https://www.last.fm/music/MJ+Lenderman">MJ Lenderman</a>
    </span>
    <span class="count">95</span>
    <span class="index" style="width:24%">(24)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">7</span> <a title="Curling" href="https://www.last.fm/music/Curling">Curling</a>
    </span>
    <span class="count">86</span>
    <span class="index" style="width:22%">(22)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">8</span> <a title="Shiner" href="https://www.last.fm/music/Shiner">Shiner</a>
    </span>
    <span class="count">80</span>
    <span class="index" style="width:20%">(20)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">9</span> <a title="Sansyou" href="https://www.last.fm/music/Sansyou">Sansyou</a>
    </span>
    <span class="count">78</span>
    <span class="index" style="width:20%">(20)</span>
  </li>

  <li>
    <span class="name">
      <span class="rank">10</span> <a title="Sloan" href="https://www.last.fm/music/Sloan">Sloan</a>
    </span>
    <span class="count">65</span>
    <span class="index" style="width:16%">(16)</span>
  </li>


</ul>


      
    </div>

  </div>
</div>