<!-- app/views/admin/movies/_poster.html.erb -->
<% if poster&.image&.attached? %>
  <%= image_tag poster.image,
      alt: "#{movie.title} poster",
      class: "w-full h-full object-cover" %>
<% elsif poster&.url.present? %>
  <%= image_tag poster.url,
      alt: "#{movie.title} poster",
      class: "w-full h-full object-cover" %>
<% else %>
  <div class="w-full h-full flex items-center justify-center bg-gray-200">
    <div class="text-center text-gray-400 p-4">
      <svg class="w-16 h-16 mx-auto mb-2" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
      </svg>
      <p class="text-sm">No poster available</p>
    </div>
  </div>
<% end %>